@import "tailwindcss";

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-background: #f9f6f3;
  --color-button: #fd976d;
  --color-button-hover: #fdd36b;
}
