@import "tailwindcss";

@theme {
  --color-midnight: #2c3e50;
  --color-tahiti: #3498db;
  --color-bermuda: #1abc9c;
  --color-background: #ecf0f1;
  --color-button: #e74c3c;
  --color-button-hover: #c0392b;

  /* Définition des couleurs accent */
  --color-accent-50: #f0fdfa;
  --color-accent-100: #ccfbf1;
  --color-accent-200: #99f6e4;
  --color-accent-300: #5eead4;
  --color-accent-400: #2dd4bf;
  --color-accent-500: #14b8a6;
  --color-accent-600: #0d9488;
  --color-accent-700: #0f766e;
  --color-accent-800: #115e59;
  --color-accent-900: #134e4a;
  --color-accent-950: #042f2e;

  --font-heading: "Poppins", sans-serif;
  --font-body: "Roboto", sans-serif;
  --color-heading: var(--color-midnight);
  --color-text: var(--color-tahiti);
  --color-link: var(--color-bermuda);
  --color-link-hover: var(--color-button-hover);
}
